{% extends 'base.html.twig' %}

{% block title %}Gestionar Resultado{% endblock %}

{% block body %}
    <div class="container">
        <div class="panel panel-warning">
            {% if (competencia.formaPuntuacion == 'TIPO_FINAL') %}
                {{ include('competencia_deportiva/fixture/_form_final.html.twig') }}
            {% elseif (competencia.formaPuntuacion == 'TIPO_PUNTUACION') %}
                {{ include('competencia_deportiva/fixture/_form_puntuacion.html.twig') }}
            {% elseif (competencia.formaPuntuacion == 'TIPO_SETS') %}
                {{ include('competencia_deportiva/fixture/_form_sets.html.twig') }}
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}

{{ parent() }}

<script type="text/javascript">
    console.log('JavaScript Gestionar Resultado Funcionando');
    var cambios=0;

    function checkedLocalFunction() {

        var checkBoxLocal = document.getElementById("resultado_puntuacion_ausenteLocal_0");

        if (checkBoxLocal.checked == true){
            var checkBoxVisitante = document.getElementById("resultado_puntuacion_ausenteVisitante_0").disabled=true;
            console.log('checkBoxLocal Checked');
        } else {
            var checkBoxVisitante = document.getElementById("resultado_puntuacion_ausenteVisitante_0").disabled=false;
            console.log('checkBoxLocal No Checked');
        }
    }


    function checkedVisitanteFunction() {

        var checkBoxVisitante = document.getElementById("resultado_puntuacion_ausenteVisitante_0");

        if (checkBoxVisitante.checked == true){
            var checkBoxLocal = document.getElementById("resultado_puntuacion_ausenteLocal_0").disabled=true;
            console.log('checkBoxVisitante Checked');
        } else {
            var checkBoxLocal = document.getElementById("resultado_puntuacion_ausenteLocal_0").disabled=false;
            console.log('checkBoxVisitante No Checked');
        }
    }

    function checkedLocalSetFunction() {

        var checkBoxSetLocal = document.getElementById("resultado_sets_ausenteLocal_0");

        if (checkBoxSetLocal.checked == true){
            var checkBoxVisitante = document.getElementById("resultado_sets_ausenteVisitante_0").disabled=true;
            console.log('checkBoxSetLocal Checked');
        } else {
            var checkBoxVisitante = document.getElementById("resultado_sets_ausenteVisitante_0").disabled=false;
            console.log('checkBoxSetLocal No Checked');
        }
    }


    function checkedVisitanteSetFunction() {

        var checkBoxSetVisitante = document.getElementById("resultado_sets_ausenteVisitante_0");

        if (checkBoxSetVisitante.checked == true){
            var checkBoxSetLocal = document.getElementById("resultado_sets_ausenteLocal_0").disabled=true;
            console.log('checkBoxVisitante Checked');
        } else {
            var checkBoxSetLocal = document.getElementById("resultado_sets_ausenteLocal_0").disabled=false;
            console.log('checkBoxVisitante No Checked');
        }
    }




    function mMaxV(that, value) {
        let min = parseInt(that.getAttribute("min"));
        let max = parseInt(that.getAttribute("max"));
        let val = parseInt(value);

        if ( (val < min) || isNaN(val)) {
            return min;

        }else if (val>max){
            return max;
        } else {
            return val;
        }
    };















</script>


{% endblock %}