{% extends 'base.html.twig' %}

{% block title %}Editar Lugar De Realizacion{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-8">
    <h3>Editar Lugar De Realizacion</h3>
        </div>
    </div>

    {{ include('lugar_de_realizacion/_form.html.twig', {'button_label': 'Actualizar Lugar'}) }}



</div>


{% endblock %}
