{% extends 'base.html.twig' %}

{% block title %}Nuevo Lugar De Realizacion{% endblock %}

{% block body %}

<div class="container">

    <h3>Nuevo Lugar De Realizacion</h3>

    {{ include('lugar_de_realizacion/_form.html.twig') }}

</div>
{% endblock %}
