{% extends 'base.html.twig' %}

{% block title %}New LugarDeRealizacion{% endblock %}

{% block body %}
    <h1>Create new LugarDeRealizacion</h1>

    {{ include('lugar_de_realizacion/_form_final.html.twig') }}

    <a href="{{ path('lugar_de_realizacion_index') }}">back to list</a>
{% endblock %}
