{% extends 'base.html.twig' %}

{% block title %}New Disponibilidad{% endblock %}

{% block body %}
    <h1>Create new Disponibilidad</h1>

    {{ include('disponibilidad/_form_final.html.twig') }}

    <a href="{{ path('disponibilidad_index') }}">back to list</a>
{% endblock %}
