{% extends 'base.html.twig' %}

{% block title %}Nueva Competencia Deportiva{% endblock %}

{% block body %}
    <div class="container">
        <div class="panel panel-warning">
        {{ include('competencia_deportiva/_form.html.twig') }}
        </div>
    </div>
{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        console.log('JavaScript Nueva Competencia Funcionando');
        document.getElementById('competencia_deportiva_puntosPorNoPresentarse').disabled = true;
        var modalidadBool = false;
        var cantidadDisponibilidades = 1;
        var selectModalidad = document.getElementById('competencia_deportiva_modalidad');
        selectModalidad.addEventListener('change',
            function() {
                modalidadBool = false;
                console.log('Advertencia! Modalidad No Configurada! Estado:' + modalidadBool);
            });
        var selectPermiteEmpate = document.getElementById('competencia_deportiva_permiteEmpate');
        selectPermiteEmpate.addEventListener('change',
            function() {

            if (selectPermiteEmpate.value==0){
                document.getElementById('competencia_deportiva_puntosEmpate').disabled = true;
                document.getElementById('competencia_deportiva_puntosEmpate').value = null;


            } else {
                document.getElementById('competencia_deportiva_puntosEmpate').disabled = false;
            }
            });


        //Como añadir DISPONIBILIDADES
        var $coleccionDisponibilidades;
        // setup an "add a disponibilidad" link
        var $addDisponibilidadButton = $('<button type="button" class="add_disponibilidad_link btn btn-primary btn-lg"> <i class="fa fa-plus"></i> AÑADIR DISPONIBILIDAD</button>');
        jQuery(document).ready(function() {
            // Get the table that holds the collection of disponibilidades
            $coleccionDisponibilidades = $('#disponibilidades');
            // add the "add a disponibilidad" anchor and tr to the tags table
            // add a delete link to all of the existing disponibilidad form tr elements
            $coleccionDisponibilidades.append($addDisponibilidadButton);
            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $coleccionDisponibilidades.data('index', $coleccionDisponibilidades.find('#card-disponibilidad').length);
            $coleccionDisponibilidades.find('#card-disponibilidad').each(function() {
                addDisponibilidadFormDeleteLink($(this));
            });
            $addDisponibilidadButton.on('click', function(e) {

                //cantidadDisponibilidades++;
                e.preventDefault();

                // add a new disponibilidad form (see next code block)
                addDisponibilidadForm();

            });
        });


        function addDisponibilidadForm() {
            var prototype = $coleccionDisponibilidades.data('prototype');
            var index = $coleccionDisponibilidades.data('index');
            var newForm = prototype;
            newForm = newForm.replace(/__name__/g, index);

            $coleccionDisponibilidades.data('index', index+1);
            //var $newFormTr = $('<tr></tr>').append(newForm);
            var $card = $('<div class="card  bg-light mb-3" id="card-disponibilidad"><div class="card-header"></div></div>');
            // create the panel-body and append the form to it
            var $cardBody = $('<div class="card-body"></div>').append(newForm);
            // append the body to the panel
            $card.append($cardBody);
            addDisponibilidadFormDeleteLink($card);
            $addDisponibilidadButton.before($card);
            //$coleccionDisponibilidades.append($card);
            //cantidadDisponibilidades++;
        }
        /**
         * @param $card
         */
        function addDisponibilidadFormDeleteLink($card) {
            var $removeFormButton = $('<button type="button" class="btn btn-danger btn-lg"> <i class="fa fa-trash"></i> ELIMINAR</button>');
            var $cardFooter = $('<div class="card-footer"></div>').append($removeFormButton);
            //cantidadDisponibilidades--;
            $removeFormButton.on('click', function(e) {
                // remove the tr for the tag form
                $(e.target).parents('#card-disponibilidad').slideUp(1000, function (){
                    $(this).remove();
                    //cantidadDisponibilidades--;
                });
            });
            $card.append($cardFooter);
        }


        //CONFIGURAR MODALIDAD
        var $modalidadSelect;

        var $addModalidadButton = $('<button type="button" class="btn btn-primary btn-lg"> Configurar Modalidad </button>')
        jQuery(document).ready(function() {
            $modalidadSelect = $('div.modalidad');
            $modalidadSelect.append($addModalidadButton);
            $addModalidadButton.on('click', function(e) {
                resetModalidad();
                var select = document.getElementById('competencia_deportiva_modalidad');
                var modalidadS = [select.selectedIndex];
                console.log('Modalidad: ' +modalidadS);
                if(modalidadS==0){

                    document.getElementById('ocultar').style.display = '';


                    let template1 = '';
                    template1 +=
                        ` Modalidad Liga `
                    $('#tituloModalidad').html(template1);

                }
                if(modalidadS==1){
                    document.getElementById('ocultar').style.display = 'none';

                    let template1 = '';
                    template1 +=

                        ` Modalidad Eliminacion Simple 	`
                    $('#tituloModalidad').html(template1);

                }

                if(modalidadS==2){

                    document.getElementById('ocultar').style.display = 'none';

                    let template1 = '';
                    template1 +=

                        ` Modalidad Eliminacion Doble `
                    $('#tituloModalidad').html(template1);

                }

                $('div.modalModalidadcfg').modal();

            });
        });


        function funcion1() {
            document.getElementById("competencia_deportiva_puntosPorNoPresentarse").value = null;
            document.getElementById('competencia_deportiva_cantidadMaximaSet').disabled = false;
            document.getElementById("competencia_deportiva_cantidadMaximaSet").selectedIndex = 0;
            document.getElementById('competencia_deportiva_puntosPorNoPresentarse').disabled = true;
            var radioBool = document.getElementById("puntuacion").checked;
            console.log('PWO: ' +radioBool);
            var puntuacionWO = document.getElementById("puntuacionwo");
            console.log('PuntuacionWO: ' +puntuacionWO);
        }

        function funcion2() {
            document.getElementById("competencia_deportiva_cantidadMaximaSet").value = null;
            document.getElementById('competencia_deportiva_puntosPorNoPresentarse').disabled = false;
            document.getElementById('competencia_deportiva_cantidadMaximaSet').disabled = true;
            var radioBool = document.getElementById("puntuacion").checked;
            console.log('PWO: ' +radioBool);
            var puntuacionWO = document.getElementById("puntuacionwo");
            console.log('PuntuacionWO: ' +puntuacionWO);

        }

        function funcion3() {
            document.getElementById("competencia_deportiva_puntosPorNoPresentarse").value = null;
            document.getElementById("competencia_deportiva_cantidadMaximaSet").value = null;
            document.getElementById('competencia_deportiva_puntosPorNoPresentarse').disabled = true;
            document.getElementById('competencia_deportiva_cantidadMaximaSet').disabled = true;
            var radioBool = document.getElementById("puntuacion").checked;
            console.log('PWO: ' +radioBool);
            var puntuacionWO = document.getElementById("puntuacionwo");
            console.log('PuntuacionWO: ' +puntuacionWO);
        }

        function funcion4() {
            document.getElementById("competencia_deportiva_puntosEmpate").value = null;
            document.getElementById('competencia_deportiva_puntosEmpate').disabled = true;
        }

        function funcion5() {
            document.getElementById('competencia_deportiva_puntosEmpate').disabled = false;
        }

        function funcion6() {
            document.getElementById("competencia_deportiva_puntosPorNoPresentarse").value = null;
            document.getElementById('competencia_deportiva_cantidadMaximaSet').disabled = false;
            document.getElementById('competencia_deportiva_puntosPorNoPresentarse').disabled = true;

        }

        function funcion7() {
            document.getElementById("competencia_deportiva_cantidadMaximaSet").value = null;
            document.getElementById('competencia_deportiva_puntosPorNoPresentarse').disabled = false;
            document.getElementById('competencia_deportiva_cantidadMaximaSet').disabled = true;

        }

        function funcion8() {
            document.getElementById("competencia_deportiva_puntosPorNoPresentarse").value = null;
            document.getElementById("competencia_deportiva_cantidadMaximaSet").value = null;
            document.getElementById('competencia_deportiva_puntosPorNoPresentarse').disabled = true;
            document.getElementById('competencia_deportiva_cantidadMaximaSet').disabled = true;

        }
        function resetModalidad(){
            modalidadBool = false;

        };

        $("#buttonAM1").on("click", function(e) {
            e.preventDefault();
            var select = document.getElementById('competencia_deportiva_modalidad');
            var modalidadS = [select.selectedIndex];
            var puntosEmpate = document.getElementById('competencia_deportiva_puntosEmpate').value;
            var puntosPorPresentarce = document.getElementById('competencia_deportiva_puntosPorPresentarse').value;
            var puntosPartidoGanado = document.getElementById('competencia_deportiva_puntosPartidoGanado').value;
            var datosModalidadCompletos=false;
            var radioBool = document.getElementById("puntuacion").checked;
            console.log('PWO: ' +radioBool);
            var puntuacionWO = document.getElementById("competencia_deportiva_puntosPorNoPresentarse").value;
            console.log('PuntuacionWO: ' +puntuacionWO);

            if(modalidadS==0){
                                if (selectPermiteEmpate.value==0){
                                    if(puntosPorPresentarce != '' && puntosPartidoGanado != ''){
                                        datosModalidadCompletos=true;
                                        if (radioBool == true){
                                            if (puntuacionWO == '') {
                                                datosModalidadCompletos=false;
                                            } else {
                                                datosModalidadCompletos=true;
                                            }
                                        } else {
                                            datosModalidadCompletos=true;
                                        }
                                    } else {
                                        datosModalidadCompletos=false;
                                    }

                                } else {
                                    if((puntosPorPresentarce != '') && (puntosPartidoGanado != '') && (puntosEmpate != '')){
                                        datosModalidadCompletos=true;
                                        if (radioBool == true){
                                            if (puntuacionWO == '') {
                                                datosModalidadCompletos=false;
                                            } else {
                                                datosModalidadCompletos=true;
                                            }
                                        } else {
                                            datosModalidadCompletos=true;
                                        }
                                      } else{
                                    datosModalidadCompletos=false;
                                    }
                                }



                                if (datosModalidadCompletos==true){

                                    $('div.modalModalidadcfg').modal('hide');
                                    modalidadBool = true;
                                    $('#alertmodal').modal();
                                    console.log('Modalidad Seleccionada y Configurada, Estado: ' + modalidadBool);

                                } else {
                                    $('#alertmodal2').modal({
                                        backdrop:'static',
                                        keyboard: false,
                                    });
                                    console.log('Por Favor Complerte la Configuracion... ');
                                }
            } else {

                if (radioBool == true){
                    if (puntuacionWO == '') {
                        datosModalidadCompletos=false;
                    } else {
                        datosModalidadCompletos=true;
                    }
                } else {
                    datosModalidadCompletos=true;
                }

                if (datosModalidadCompletos==true){

                    $('div.modalModalidadcfg').modal('hide');
                    modalidadBool = true;
                    $('#alertmodal').modal();
                    console.log('Modalidad Seleccionada y Configurada, Estado: ' + modalidadBool);

                }else {
                    $('#alertmodal2').modal({
                        backdrop:'static',
                        keyboard: false,
                    });
                    console.log('Por Favor Complerte la Configuracion... ');
                }

            }


        });

        $("#buttonCM1").on("click", function(e) {
            e.preventDefault();
            $('#modalcam').modal();

            modalidadBool = false;
            console.log('Advertencia! Modalidad No Configurada! Estado:' + modalidadBool);
        });
        $("#AceptarBNC").on("click", function(e) {
            e.preventDefault();
            var nombreCompetencia =  document.getElementById("competencia_deportiva_nombre").value;
            nombreCompetencia = nombreCompetencia.toUpperCase();

            var modalidadSeleccionada = document.getElementById('competencia_deportiva_modalidad');
            var nombreModalidad = modalidadSeleccionada.options[modalidadSeleccionada.selectedIndex].text;

            var deporteSeleccionado = document.getElementById('competencia_deportiva_deporte');
            var nombreDeporte = deporteSeleccionado.options[deporteSeleccionado.selectedIndex].text;

            console.log('Nombre Competencia: ' +nombreCompetencia);
            console.log('Deporte Seleccionado: ' +nombreDeporte);
            console.log('Cantidad Disponibilidades: ' +cantidadDisponibilidades);
            console.log('Modalidad Seleccionada: ' +nombreModalidad);

            if ( nombreCompetencia == '') {

                $('#nombreNoSel').modal();

            } else { if(cantidadDisponibilidades ==0){
                  $('#disponibilidadNoSet').modal();
            } else { if(modalidadBool == false){
                    $('#modalidadNSOC').modal();
            } else {
                console.log('Disponibilidades: ' + $coleccionDisponibilidades.value);
                let template2 = '';
                template2 +=

                    `
											<h6> Nombre Competencia:                 ${nombreCompetencia} </h6>
                                            <h6> Deporte Seleccionado:               ${nombreDeporte}   </h6>
                                            <h6> Modalidad Seleccionada:             ${nombreModalidad}  </h6>
                                            <h6> Lugares/Disponibilidades Agregados: ${cantidadDisponibilidades}  </h6>

													`
                $('#BodyDatosCompetencia').html(template2);

                    $('#modalAceptarNC').modal();




                }

            }
            }


        });
        function mMaxV(that, value) {
            let min = parseInt(that.getAttribute("min"));
            let max = parseInt(that.getAttribute("max"));
            let val = parseInt(value);

            if ( (val < min) || isNaN(val)) {
                return min;

        }else if (val>max){
                return max;
            } else {
                return val;
            }
        }




    </script>


{% endblock %}
