{% extends 'base.html.twig' %}

{% block title %}Nueva Competencia Deportiva{% endblock %}

{% block body %}
    <div class="container">
    {{ include('competencia_deportiva/_form.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        function funcion1() {
            document.getElementById("puntuacionwo").value = null;
            var camposet = document.getElementById('csets').disabled = false;
            var camposet = document.getElementById('puntuacionwo').disabled = true;
        }

        function funcion2() {
            $('#csets').prop('selectedIndex', 0);
            var camposet = document.getElementById('puntuacionwo').disabled = false;
            var camposet = document.getElementById('csets').disabled = true;
        }

        function funcion3() {
            document.getElementById("puntuacionwo").value = null;
            $('#csets').prop('selectedIndex', 0);
            var camposet = document.getElementById('puntuacionwo').disabled = true;
            var camposet = document.getElementById('csets').disabled = true;
        }

        function funcion4() {
            document.getElementById("PPE").value = null;
            var camposet = document.getElementById('PPE').disabled = true;
        }

        function funcion5() {
            var camposet = document.getElementById('PPE').disabled = false;
        }

        $("#AceptarModalidad").on("submit", function(e) {
            e.preventDefault();
            $('#modalLiga').modal('hide');
            modalidadBool = true;
            console.log('Modalidad Seleccionada y Configurada, Estado: ' + modalidadBool);
            $('#alertmodal').modal();
        });

        $("#buttonCM1").on("click", function(e) {
            e.preventDefault();
            $('#modalLiga').modal('hide');
            modalidadBool = false;
            console.log('Advertencia! Modalidad No Configurada! Estado:' + modalidadBool);
            $('#modalcam').modal();
        });

        $("#AceptarModalidad2").on("submit", function(e) {
            e.preventDefault();
            $('#modalEliminacion').modal('hide');
            modalidadBool = true;
            console.log('Modalidad Seleccionada y Configurada, Estado: ' + modalidadBool);
            $('#alertmodal').modal();
        });

        $("#buttonCM2").on("click", function(e) {
            e.preventDefault();
            $('#modalLiga').modal('hide');
            modalidadBool = false;
            console.log('Advertencia! Modalidad No Configurada! Estado:' + modalidadBool);
            $('#modalcam').modal();
        });

        $("#CancelarNC").on("click", function(e) {
            e.preventDefault();
            $('#modalCancelarNC').modal();
        });

        $("#AceptarCancelarNC").on("click", function(e) {
            window.location.href = "{{ path('competencia_deportiva_index') }}"
        });
    </script>


{% endblock %}
