{% extends 'base.html.twig' %}

{% block title %}Nueva Competencia Deportiva{% endblock %}

{% block body %}
    <div class="container">
    {{ include('competencia_deportiva/_form.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        var $coleccionDisponibilidades;
        // setup an "add a tag" link
        var $addDisponibilidadButton = $('<button type="button" class="add_disponibilidad_link">Añadir Disponibilidad</button>');
        var $newLinkLi = $('<li></li>').append($addDisponibilidadButton);
        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            $coleccionDisponibilidades = $('ul.disponibilidades');
            // add the "add a tag" anchor and li to the tags ul
            // add a delete link to all of the existing tag form li elements
            $coleccionDisponibilidades.find('li').each(function() {
                addDisponibilidadFormDeleteLink($(this));
            });
            $coleccionDisponibilidades.append($newLinkLi);
            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $coleccionDisponibilidades.data('index', $coleccionDisponibilidades.find('input').length);
            $addDisponibilidadButton.on('click', function(e) {
                // add a new tag form (see next code block)
                addDisponibilidadForm($coleccionDisponibilidades, $newLinkLi);
            });
        });


        function addDisponibilidadForm($coleccionDisponibilidades, $newLinkLi) {
            var prototype = $coleccionDisponibilidades.data('prototype');
            var index = $coleccionDisponibilidades.data('index');
            var newForm = prototype;
            newForm = newForm.replace(/__name__/, index);
            $coleccionDisponibilidades.data('index', index + 1);
            var $newFormLi = $('<li></li>').append(newForm);
            addDisponibilidadFormDeleteLink($newFormLi);
            $newLinkLi.before($newFormLi);
        }

        function addDisponibilidadFormDeleteLink($disponibilidadFormLi) {
            var $removeFormButton = $('<button type="button">BORRAR ESTA DISPONIBILIDAD</button>');
            $disponibilidadFormLi.append($removeFormButton);

            $removeFormButton.on('click', function(e) {
                // remove the li for the tag form
                $disponibilidadFormLi.remove();
            });
        }

        function funcion1() {
            document.getElementById("puntuacionwo").value = null;
            var camposet = document.getElementById('csets').disabled = false;
            var camposet = document.getElementById('puntuacionwo').disabled = true;
        }

        function funcion2() {
            $('#csets').prop('selectedIndex', 0);
            var camposet = document.getElementById('puntuacionwo').disabled = false;
            var camposet = document.getElementById('csets').disabled = true;
        }

        function funcion3() {
            document.getElementById("puntuacionwo").value = null;
            $('#csets').prop('selectedIndex', 0);
            var camposet = document.getElementById('puntuacionwo').disabled = true;
            var camposet = document.getElementById('csets').disabled = true;
        }

        function funcion4() {
            document.getElementById("PPE").value = null;
            var camposet = document.getElementById('PPE').disabled = true;
        }

        function funcion5() {
            var camposet = document.getElementById('PPE').disabled = false;
        }

        $("#AceptarModalidad").on("submit", function(e) {
            e.preventDefault();
            $('#modalLiga').modal('hide');
            modalidadBool = true;
            console.log('Modalidad Seleccionada y Configurada, Estado: ' + modalidadBool);
            $('#alertmodal').modal();
        });

        $("#buttonCM1").on("click", function(e) {
            e.preventDefault();
            $('#modalLiga').modal('hide');
            modalidadBool = false;
            console.log('Advertencia! Modalidad No Configurada! Estado:' + modalidadBool);
            $('#modalcam').modal();
        });

        $("#AceptarModalidad2").on("submit", function(e) {
            e.preventDefault();
            $('#modalEliminacion').modal('hide');
            modalidadBool = true;
            console.log('Modalidad Seleccionada y Configurada, Estado: ' + modalidadBool);
            $('#alertmodal').modal();
        });

        $("#buttonCM2").on("click", function(e) {
            e.preventDefault();
            $('#modalLiga').modal('hide');
            modalidadBool = false;
            console.log('Advertencia! Modalidad No Configurada! Estado:' + modalidadBool);
            $('#modalcam').modal();
        });

        $("#CancelarNC").on("click", function(e) {
            e.preventDefault();
            $('#modalCancelarNC').modal();
        });

        $("#AceptarCancelarNC").on("click", function(e) {
            window.location.href = "{{ path('competencia_deportiva_index') }}"
        });
    </script>


{% endblock %}
