{% extends 'base.html.twig' %}

{% block title %} Bienvenido! {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-7">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <a href="{{ path('competencia_deportiva_index') }}" class="btn-link">COMPETENCIAS DEPORTIVAS</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <a href="{{ path('lugar_de_realizacion_index') }}" class="btn-link">LUGARES DE REALIZACION</a>
            </div>
        </div>
    </div>
{% endblock %}